
/*-------------------------------------------*\
  		#ALL PAGES - Variables
\*-------------------------------------------*/

/* TEXT ALIGNMENT */

$align-center: center;

$align-left: left;

$align-right: right;

/* FONTS SIZE */

$font-14: 14px;

$font-15: 15;

$font-16: 16px;

$font-17: 17;

$font-18: 18px;

$font-20: 20px;

$font-24: 24;

$font-25: 25px;

$font-31: 31px;

$font-35: 35px;

$font-31: 31px;


$font-17 : 17;

$font-19: 19;

$font-23 : 23;

$font-21 : 21;

$font-36 : 36;

/* MARGIN */

$margin-auto: 0px auto;


/*-------------- LANDING PAGE --------------*/

/* COMMON COLORS */

$color-white: #fff;

$color-black: #000;


/* NAVIAGATION */

$color-nav: rgb(144, 139, 147);


/* BUTTON COLORS */

$color-btn: rgb(181, 181, 181);

$color-violet: #7c3a93;

/* TEXT */

$color-light-grey: rgb(159, 150, 164);

/* SLIDER */

$color-slider: rgb(159, 148, 152);

$color-slider-active: rgb(185, 123, 207);

/* TRAINING SECTION */

$color-state: rgb(80, 59, 72);

$color-state-content: rgb(80, 59, 72);

$color-stage-circle: rgb(108, 109, 123);

$color-stage-select: rgb(131, 56, 140);

$color-stage-heading: rgb(237, 236, 237);

$color-stage-sub: rgb(143, 132, 148);

$color-grey-content: rgb(251, 252, 255);

/* STAGES SELECTION */

$color-stages: rgb(70, 61, 75);

$color-stages-content: rgb(143, 132, 148);

/* CONTENT BELOW SLIDER */

$color-role-hover: rgb(246, 243, 247);

$color-role-content: rgb(147, 152, 161);

$color-role-heading: rgb(107, 100, 111);

/* FOOTER */

$color-footer: rgb(41, 34, 45);
$color-footer-content: rgb(148, 145, 150);

$font-weight-bold: bold;
$font-weight-regular: normal;



/*  Button Border */
$border-color : #DFDDE0;

/* about me Page Project Completion*/


/*about me */
$highlightColor : #79727c;

$highLightSubHeaderColor : #b7b0bb;

$HeaderContainerColor : #FFF !important;

$mainContainerColor : #f8f7f5;

$centerHeaderColor : #79727c;

$centerSubHeaderColor : #9f96a4 !important;

$divBackgroundColor :  #efe9f2;

$projectCompletion : #78707d;

$menuColor : #9f96a4;

$tabHeadingColor : #9f96a4;

$unSelectedTabHeadingColor : #f2f0ec;

$personalDetailsHeaderColor : #f2f0e9;

$socialHeaderColor : #463d4b;

$socialBackgroundColor : #fafafb;

$socialColor : #524956;

$formFieldColor : #463d4b;

$placeholderColor : #cfcbd2;

$buttonBackground : #9f96a4;

$hrefColor : #92969f;

$boxBorderColor : #e5e0e8;

$tabHeaderColor : #f2f0ea;

$unselectedCheckBox : #e1dbe4;

$greysubtextColor : #d4d4d4;

$paymentContainerColor : #f2f0ea;

$paymentUnselectedTabColor : #e6e4de;

$paymentHeading : #6b646f;

$paymentTimePeriod : #4e4e4e;

$paymentMessage : #919191;
