<div class="container-fluid content-background">
        <div class="container form-elements container-learn">
          <div class="form-container ">
            <div class="flexslider carousel" id='carousel'>
              
                <ul class="slides">
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/cntnt-driving.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>

                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/cntnt-chaffuer.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/cntnt-safedrving.png">
                       <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                        <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                       </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/cntnt-care.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                        <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/1.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                    </div>
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div class="container form-elements container-learn">
        <div class="form-container">
          <div class="flexslider carousel" id='carousel'>
            <h3>Things to Learn</h3>
              <ul class="slides">
              <li class="slider-css">
                  <div class="thumbnail">
                    <img Src="/images/cntnt-learn.png">
                      <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                        <div class="img-width"><img Src="/images/cntnt-like.png"></div>
                        <p>200likes</p>
                        <p>$15</p>
                      </div>
                  </div>
              </li>
              <li class="slider-css">
                  <div class="thumbnail">
                    <img Src="/images/cntnt-paralleparking.png">
                      <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                        <div class="img-width"><img Src="/images/cntnt-like.png"></div>
                        <p>210likes</p>
                        <p>$15</p>
                      </div>
                  </div>
              </li>
              <li class="slider-css">
                  <div class="thumbnail">
                    <img Src="/images/cntn-safedriving.png">
                     <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                      <div class="img-width"><img Src="/images/cntnt-like.png"></div>
                        <p>215likes</p>
                        <p>$15</p>
                     </div>
                  </div>
              </li>
              <li class="slider-css">
                  <div class="thumbnail">
                    <img Src="/images/cntnt-eldercare.png">
                      <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                        <div class="img-width"><img Src="/images/cntnt-like.png"></div>
                        <p>225likes</p>
                        <p>$15</p>
                      </div>
                  </div>
              </li>
              <li class="slider-css">
                  <div class="thumbnail">
                    <img Src="/images/2.png">
                      <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                        <div class="img-width"><img Src="/images/cntnt-like.png"></div>
                        <p>250likes</p>
                        <p>$15</p>
                      </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

       <div class="container form-elements container-learn">
          <div class="form-container">
            <div class="flexslider carousel" id='carousel'>
              <h3>Next in your course</h3>
                <ul class="slides">
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/nxt-course.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4></div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/nxt-course-driving.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4></div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/nxt-course-safedriving.png">
                       <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4></div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/nxt-cource-learning.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4></div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail">
                      <img Src="/images/nxt-course.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4></div>
                    </div>
                </li>
              </ul>
            </div>
        </div>
      </div>

    </div>