<div class="container-fluid content-background">
        <div class="container form-elements">
          <div class="form-container ">
            <div class="flexslider carousel" id='carousel'>
              <h3>Compentency courses</h3>
                <ul class="slides">
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/cntnt-driving.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge that will aid them in providing the best servic professional home-care for the elderly</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Search</button>
                          </div>
                        </div>
                        
                    </div>
                </li>
                <li class="slider-css">
                  <div class="browse1">
                    <div class="thumbnail ">
                      <img Src="/images/cntnt-browse-driver.png">
                         <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class="content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div></div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/cntnt-safedrving.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class="content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/cntnt-browse-roads.png">
                         <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class="content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/cntnt-safedrving.png">
                         <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class="content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div>
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div class="container form-elements">
        <div class="form-container">
          <div class="flexslider carousel" id='carousel'>
            <h3>Nano courses</h3>
              <ul class="slides">
              <li class="slider-css">
                  <div class="thumbnail browse1">
                    <img Src="/images/cntnt-learn.png">
                       <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class="content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                  </div>
              </li>
              <li class="slider-css">
                  <div class="thumbnail browse1">
                    <img Src="/images/cntnt-paralleparking.png">
                       <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                  </div>
              </li>
              <li class="slider-css">
                  <div class="thumbnail browse1">
                    <img Src="/images/cntn-safedriving.png">
                      <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                  </div>
              </li>
              <li class="slider-css">
                  <div class="thumbnail browse1">
                    <img Src="/images/cntnt-eldercare.png">
                       <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                  </div>
              </li>
              <li class="slider-css">
                  <div class="thumbnail browse1">
                    <img Src="/images/2.png">
                       <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

       <div class="container form-elements">
          <div class="form-container">
            <div class="flexslider carousel" id='carousel'>
              <h3>Next in your course</h3>
                <ul class="slides">
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/nxt-course.png">
                         <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/nxt-course-driving.png">
                         <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/nxt-course-safedriving.png">
                        <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/nxt-cource-learning.png">
                         <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div>
                </li>
                <li class="slider-css">
                    <div class="thumbnail browse1">
                      <img Src="/images/nxt-course.png">
                         <div class="cntnt-text"><h3>Leassons on safe driving over hill areas</h3><h4>6 moduels,2 certifications</h4>
                          <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                        <p>5000 users enrolled</p>
                        <p>$15</p>
                        </div>
                        <div class=" content_hover">
                          <p class="content">Our priority is to equip individuals with adequate skills and knowledge</p>
                          <div class="content-bottom">
                            <button type="button" class="btn btn-purple-medium">Take This course</button>    
                          </div>
                       </div>
                    </div>
                </li>
              </ul>
            </div>
        </div>