<div class="container-fluid content-background">
    <div class="container form-elements">
      <div class="form-container ">
        <div class="flexslider carousel" id='carousel'>
          <h3>recomended courses</h3>
            <ul class="slides">
            <li class="slider-css">
                <div class="thumbnail">
                  <img Src="{{image}}">
                    <div class="cntnt-text"><h3>{{description}}</h3>
                      <h4>{{moduels}}</h4>
                      <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                    <p>{{userCount}}</p>
                    <p>{{price}}</p>
                    </div>

                </div>
            
            
                <div class="thumbnail">
                  <img Src="/images/cntnt-chaffuer.png">
                    <div class="cntnt-text"><h3>{{description}}</h3>
                      <h4>{{moduels}}</h4>
                      <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                    <p>{{userCount}}</p>
                    <p>{{price}}</p>
                    </div>
                </div>
            </li>
            <li class="slider-css">
                <div class="thumbnail">
                  <img Src="/images/cntnt-safedrving.png">
                   <div class="cntnt-text"><h3>{{description}}</h3>
                      <h4>{{moduels}}</h4>
                      <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                    <p>{{userCount}}</p>
                    <p>{{price}}</p>
                    </div>
                </div>
            </li>
            <li class="slider-css">
                <div class="thumbnail">
                  <img Src="/images/cntnt-care.png">
                    <div class="cntnt-text"><h3>{{description}}</h3>
                      <h4>{{moduels}}</h4>
                      <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                    <p>{{userCount}}</p>
                    <p>{{price}}</p>
                    </div>
                </div>
            </li>
            <li class="slider-css">
                <div class="thumbnail">
                  <img Src="/images/1.png">
                    <div class="cntnt-text"><h3>{{description}}</h3>
                      <h4>{{moduels}}</h4>
                      <div class="img-width"><img Src="/images/cntnt-user.png"></div>
                    <p>{{userCount}}</p>
                    <p>{{price}}</p>
                    </div>
                </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>